@model Memodex.WebApp.Pages.EditFlashcards.PageInfo

@{
    string url = $"/EditFlashcards?handler=Flashcards&deckId={Model.DeckId}&pageNumber={Model.Data.Page - 1}&itemsPerPage={Model.ItemsPerPage}";
}
<div hx-get="@url"
     hx-trigger="revealed"
     hx-swap="afterend"
     class="divide-y divide-slate-400 dark:divide-slate-600">

    @foreach (EditFlashcards.FlashcardItem flashcard in Model.Data.Items)
    {
        <partial name="_FlashcardItemPartial" model="flashcard"/>
    }
</div>
