@model EditFlashcards.PageInfo

@{
    string url = $"/EditFlashcards?handler=Flashcards&deckId={Model.DeckId}&pageNumber={Model.Data.Page + 1}&itemsPerPage={Model.ItemsPerPage}";
}
<div hx-get="@url"
     hx-trigger="revealed"
     hx-swap="afterend">
    @foreach (EditFlashcards.FlashcardItem flashcard in Model.Data.Items)
    {
        <div class="py-5">
            <partial name="_FlashcardItemPartial" model="flashcard"/>
        </div>
    }
</div>