@model int 

<div class="py-2 font-bold text-slate-400 dark:text-slate-600">
   Great work! Your deck has been successfully imported. Take a moment to 
   <a href="@Url.Page("EditDeck", new {deckId = Model})" class="underline text-slate-200 dark:text-slate-400">view your deck</a>, or go ahead and import another one. 
</div>

