@using Memodex.WebApp.Infrastructure
@using Microsoft.AspNetCore.Antiforgery
@inject IProfileProvider ProfileProvider
@inject IAntiforgery Xrsf

@{
    CurrentProfile? profile = await ProfileProvider.GetSelectedProfileAsync();
}

<!DOCTYPE html>
<html lang="en" class="h-full @(profile?.PreferredTheme)" data-profile-id="@profile?.Id">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Memodex</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <meta name="AntiForgeryToken" content="@Xrsf.GetAndStoreTokens(Context).RequestToken"/>
</head>

<body>
@if (profile is not null)
{
    <partial name="_NavBar" model="profile"/>
}

<main role="main" class="flex flex-grow items-center">
    <div class="container mx-auto">
        <div class="px-5 lg:w-1/2 mx-auto">
            @RenderBody()
        </div>
    </div>
</main>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
<footer class="text-center p-2 text-zinc-500 dark:text-slate-700 text-sm bg-zinc-400 dark:bg-slate-900">
    © 2023 Memodex Kamil Grudzień. Licensed under the GPLv3
</footer>
</body>
</html>