@using Memodex.WebApp.Common
@{
    if (TempData.TryGetValue("Notification", out object? value)
        && Notification.TryDeserialize(value?.ToString(), out Notification? notification))
    {
        <div id="notification"
             data-message="@notification.Message"
             data-notification-type="@notification.Type"
             class="hidden">
        </div>
    }
    <div id="notificationPopup"
         class="notification hidden">
        <span id="notificationMessage"></span>
        <button class="ml-4 close-popup">&times;</button>
    </div>
}