@page
@model Memodex.WebApp.Pages.CreateProfile

<h1>Almost there!</h1>
<p class="pb-4">
    Create your profile and get started. Exciting challenges await!
</p>
<form method="post" class="space-y-4">
    <div class="flex items-center space-x-2">
        <label for="name" class="text-sm font-medium pr-2">Name</label>
        <input type="text" asp-for="FormData.Name" required class="mt-1 p-2 w-full border rounded-md">
    </div>

    <div id="selected-avatar-container" class="my-4 cursor-pointer flex items-center space-x-2">
        <label class="text-sm font-medium pr-2">Avatar</label>
        <img src="/media/img/avatars/default.png" alt="Selected Avatar" class="w-20 h-20 rounded-full">
        <input id="default-avatar-placeholder" type="hidden" asp-for="FormData.Image"/>
    </div>

    <div id="available-avatars-container" class="hidden flex flex-wrap justify-start mt-2 space-x-2 space-y-2">
        @foreach (CreateProfile.AvatarImage avatar in Model.Avatars)
        {
            <label class="cursor-pointer border-4 p-1 rounded-full hover:border-blue-500 transition">
                <input type="radio" asp-for="FormData.Image" value="@avatar.ImageName" class="sr-only" required>
                <img src="@avatar.ImageUrl" alt="Avatar Image" class="w-20 h-20 rounded-full">
            </label>
        }
    </div>

    <div>
        <button type="submit" class="px-4 py-2 mt-5 bg-blue-600 text-white rounded hover:bg-blue-700">
            Create Profile
        </button>
    </div>
</form>

@section Scripts {
    <script src="js/CreateProfile.js"></script>
}