@page
@model Memodex.WebApp.Pages.ImportFlashcards

// html form for uploading multiple files
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="files">Files</label>
        <input type="file" class="form-control-file" id="files" name="files" multiple />
    </div>
<button type="submit" class="btn btn-primary">Upload</button>
</form>